/**
** Navigation
**/

.nav {
	list-style: none;
	background-color: #b9faf1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0 15px;
}

.nav--items {
	display: inline-block;
}

.nav--links {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: #01574b;
}

.nav-link__active {
  border-bottom: 4px solid #01574b
}
